
#playGame {
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-shadow: 1.2px 1.2px silver;
    width: 500px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    margin-top: 10%;
    position: relative;
    padding-top: 0px;
   color: rgb(55, 61, 3); 
    background-color: rgba(112, 154, 202, 0.555);
    text-align: center;
    display: block;
}

h6 {
    color: rgb(139, 8, 8); 
    text-shadow: 1.2px 1.2px rgb(42, 41, 41);
    margin-bottom: 3px;
}

#playGame p{
    margin-bottom: 10px;
    font-size: 80%;
}
#playGame p:nth-child(3){
    font-size: 50%;
}

button {
    background-color: rgb(6, 153, 43);
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.75s ease;
}
button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(131, 241, 154);
}

#game {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-shadow: 2px 2px silver;
    width: 500px;
    height: 200px;
    border: 2px inset rgba(0, 0, 0, 0.438);
    box-shadow: 5px 5px 5px black;
    margin: auto;
    margin-top: 10%;
    position: relative;
    padding-top: 20px;
   color: rgb(199, 12, 12); 
    background-color: rgba(246, 246, 246, 0.431);
    text-align: center;
    display: none;
}
img[alt="background"] {
position: absolute;
top: 0;
left: 0;
width: 500px;
height: 220px;
opacity: 0.8;
}

img[alt="obstacle"] {
    width: 50px;
    height: 50px;
}

.count {
    position: absolute;
    top: 10%;
    left: 47%;
    font-size: 40px;
    font-weight: 900;
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px black;
    
}

#character {
    width: 50px;
    height: 100px;
    position: relative;
    top: 100px;
}

.first {
    width: 50px;
    height: 100px;
}
@keyframes jump{
    0% {top: 100px;}
    30% {top: 20px;}
    70% {top: 20px;}
    100% {top: 100px;}
}

.animate {
    animation: jump 600ms linear;
}

#block {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 450px;
    animation: block 1.5s infinite linear;
}
#blockTwo {
    width: 35px;
    height: 35px;
    position: relative;
    top: 65px;
    left: 465px;
}

@keyframes block {
    0%{ left: 465px;}
    100%{ left: -35px;}
}

@media screen and (max-width: 700px){

    #playGame{
        margin-top: 3%;
    }
    #game {
        margin-top: 1%;
    }
}
